@keyframes move {
    0% {
        width: 0%;
    }

    100% {
        width: 4.38%;
    }

}
@keyframes move2 {
    0% {
        width: 4.38%;
    }

    100% {
        width: 8.76%;
    }

}
@keyframes move3 {
    0% {
        width: 8.76%;
    }

    100% {
        width: 13.14%;
    }

}
@keyframes move4 {
    0% {
        width: 13.14%;
    }

    100% {
        width: 15.52%;
    }

}
@keyframes move5 {
    0% {
        width: 15.52%;
    }

    100% {
        width: 21.9%;
    }

}
@keyframes move6 {
    0% {
        width: 21.9%;
    }

    100% {
        width: 26.28%;
    }

}
@keyframes move7 {
    0% {
        width: 26.28%;
    }

    100% {
        width: 30.66%;
    }

}
@keyframes move8 {
    0% {
        width: 30.66%;
    }

    100% {
        width: 35.04%;
    }

}
@keyframes move9 {
    0% {
        width: 35.04%;
    }

    100% {
        width: 39.42%;
    }

}

@keyframes move10 {
    0% {
        width: 39.42%;
    }

    100% {
        width: 43.8%;
    }

}

@keyframes move11 {
    0% {
        width: 43.8%;
    }

    100% {
        width: 48.18%;
    }

}
@keyframes move12 {
    0% {
        width: 48.18%;
    }

    100% {
        width: 52.56%;
    }

}

@keyframes move13 {
    0% {
        width: 52.56%;
    }

    100% {
        width: 56.94%;
    }

    
}
@keyframes move14 {
    0% {
        width: 56.94%;
    }

    100% {
        width: 61.32%;
    }

}
@keyframes move15 {
    0% {
        width: 61.32%;
    }

    100% {
        width: 65.7%;
    }

}
@keyframes move16 {
    0% {
        width: 65.7%;
    }

    100% {
        width: 70%;
    }

}
@keyframes move17 {
    0% {
        width: 70%;
    }

    100% {
        width: 80%;
    }

}
@keyframes move18 {
    0% {
        width: 80%;
    }

    100% {
        width: 90%;
    }

}
@keyframes move19 {
    0% {
        width: 90%;
    }

    100% {
        width: 100%;
    }

}